<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lemonade Contact Page</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/assets/css/style.css">
	<!-- Modernizr JS -->
	<script src="/assets/js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
	<div class="page-inner">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="#">Lemonade.Stand <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
<!-- 						<li><a href="index">Menu</a></li> -->
						<li class="active"><a href="/html/contact.html">Contact</a></li>
						<!-- <li class="btn-cta"><a href="lemonade.html"><span>BUY NOW</span></a></li> -->
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
	

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/05/05/43/495966356ac46a3.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="row row-mt-15em">

					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
						<span class="intro-text-small">Love Lemonade?</span>
						<h1>You've Arrived @ Lemonade Heaven</h1>	
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</header>
	

	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 text-left gtco-heading">
					<h2>Popular Lemonade We All Loooovvvveeeee</h2>
					<p>Imagine it's a hot bright day! The sun is beaming on your face. Sweat drips from your face. Your mouth goes dry. What would be better than having a summer cool lemonade to quench your dry thirst!!!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Grandma Nguyen's Lemonade</h3>
							<p>Sweet. Tangy. A hint of salt to get your taste bud going strong!</p>
							<!-- <button>BUY NOW</button> -->
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Magical Ginger Lemonade</h3>
							<p>Zesty with a bite of heat in the delectable ginger lemonade. Prepare to be delighted with each sip!</p>
							<!-- <button>BUY NOW</button> -->
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Sunny Day Lemonade</h3>
							<p>Turn up the heat up and soak in the morning sun with Sunny Day lemonade in your hand!</p>
							<!-- <button>BUY NOW</button> -->
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Olaf Lemonade</h3>
							<p>Frozen Lemonade with Happiness & Joy & Delight like Olaf!</p>
							<!-- <button>BUY NOW</button> -->
						</div>
					</div>

				</div>
				<div class="col-md-7 macbook-wrap animate-box" data-animate-effect="fadeInRight">
					<img height="600" width="600" src="https://previews.123rf.com/images/anna42f/anna42f1610/anna42f161000003/64447834-lemonade-elements-glass-lemon-jug-mint-lettering-lemonade-drawing-on-dirty-paper-background.jpg" alt="Free HTML5 Bootstrap Template">
				</div>
			</div>
		</div>
	</div>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Choose Your Lemonade</h2>
					<p>We know. Lemonade is simply irresistable! So buy a bunch and keep it to impress your friends at a pool party, at a backyard get together, or simply anytime!</p>
					<!-- <button>BUY NOW</button> -->

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
				{{{ body }}}
			</div>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<h2 class=""> Products </h2>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="https://media.fromthegrapevine.com/assets/images/2015/9/pomegranate-lemonade-lead.jpg.839x0_q71_crop-scale.jpg" class="fh5co-project-item image-popup">
						<figure>
							<img src="https://media.fromthegrapevine.com/assets/images/2015/9/pomegranate-lemonade-lead.jpg.839x0_q71_crop-scale.jpg" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Olaf Lemonade</h2>
							<p>Just like Olaf, this drink is fun and bright!!!</p>
						<!-- 	<button>BUY NOW</button> -->
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="https://pizzazzerie.com/wp-content/uploads/2015/07/cherry-lemonade-recipe-pizzazzerie.jpg" class="fh5co-project-item image-popup">
						<figure>
							<img src="https://pizzazzerie.com/wp-content/uploads/2015/07/cherry-lemonade-recipe-pizzazzerie.jpg" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Hawaii Lemonade</h2>
							<p>Grab a drink, we are going to chill in sun and sand</p>
							<!-- <button>BUY NOW</button> -->
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="http://www.zestuous.com/wp-content/uploads/2012/12/pink-lemonade-1050x700.png" class="fh5co-project-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="http://www.zestuous.com/wp-content/uploads/2012/12/pink-lemonade-1050x700.png" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Love Lemonade</h2>
							<p>Love it! That's how good this lemonade is! AMAZING</p>
							<!-- <button>BUY NOW</button> -->
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

<footer id="gtco-footer" role="contentinfo">
	<div class="gtco-container">
		<div class="row row-p	b-md">

			<div class="col-md-4">
				<div class="gtco-widget">
					<h3>About <span class="footer-logo">Lemonade<span>.<span></span></h3>
					<p>We're just making yummilicious drinks day and night. We dream up crazy recipes and all our drinks pair well with everything! Take a sip and Be Happy!!!</p>
				</div>
			</div>

			<div class="col-md-4 col-md-push-1">
				<div class="gtco-widget">
					<h3>Links</h3>
					<ul class="gtco-footer-links">
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-4">
				<div class="gtco-widget">
					<h3>Get In Touch</h3>
					<ul class="gtco-quick-contact">
						<li><a href="#"><i class="icon-phone"></i> 415.123.1212 </a></li>
						<li><a href="#"><i class="icon-mail2"></i> yay@whatever.com</a></li>
						<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
					</ul>
				</div>
			</div>

		</div>

		<div class="row copyright">
			<div class="col-md-12">
				<p class="pull-left">
					<small class="block">2018 Berkeley Bootcamp. All Rights Reserved.</small> 
					<small class="block">Designed by Vanessa & Elaine & Allen & Daniel<a href="http://unsplash.co/" target="_blank"> :)</a></small>
				</p>
				<!-- <p class="pull-right">
					<ul class="gtco-social-icons pull-right">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
				</p> -->
			</div>
		</div>

	</div>
</footer>

	</div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="/assets/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="/assets/js/main.js"></script>

	</body>
</html>