<div class="container">
	  		<!-- {{#each users}}
	  			<p> this.username </p>
	  		{{/each}} -->
	<div class="row text-center">
	  
	  	<ul class="not sold">
	  		{{#each lemonades}}
	  			{{#unless this.sold}}
		  			<div class="col-xs-12 col-md-3">
		  				<div class="text-center">
			  				<br>
								<p> 
									<img src="{{this.image}}" alt="product" class="img-rounded product-thumbnail" style="width:250px;height:250px">
								</p>
								<p> {{this.product_name}} </p> <!-- product -->
				  			<p> ${{this.price}} </p> <!-- price -->
				  			<a href="#">
				  				<button>Buy </button>
				  				<button> View Details </button>
				  			</a>
				  			<br><br><br>
				  		</div>
		  			</div>
	  			{{/unless}}
	  		{{/each}}
	  	</ul>
		  	
	</div>
</div>


<!-- FOR SELLER TO SELL LEMONADE -->
<div class="panel panel-default">
	<div class="panel-body">

		<h1> Sell Your Lemonade</h1>

		<form class="create-lemonade-form" action="/order" method="POST">
			<div class="form-group">
				<label for="newLemonade" id="lemonade-name"> Lemonade Name </label>
				<input type="hidden" name="sold" value="false">
				<input required type="text" id="newLemonade" name="product_name" placeholder="Pink Lemonade"> <br>
				<label for="newLemonade" id="lemonade-price"> Price </label>
				<input required type="number" step="0.01" id="lemonade-price" name="price" placeholder="3.50"><br>
				<label for="newLemonade" id="lemonade-img"> Image URL </label>
				<input required type="text" id="lemonade-img" name="image" placeholder="google.com"><br>
				<label for="newLemonade" id="lemonade-desc"> Description </label> <br>
				<textarea required type="text" id="lemonade-desc" name="description" placeholder="Refreshingly sweet with natural honey" style="width:80%"></textarea>
				<br><br>
				<button type="submit" id="sell-btn">SELL </button>
			</div>
		</form>
	</div>
</div>