<div class="container">
	<div class="row text-center">
	  <div class="col-md-3">
	  	<a href="#">
		  	<img src="https://images-na.ssl-images-amazon.com/images/I/71jEFF-SplL._SX522_.jpg" alt="product" class="img-rounded product-thumbnail" style="width:250px;height:250px">
		  	<p> Pink </p> <!-- seller -->
		  	<p> Lemonade </p> <!-- product -->
		  	<p> $20</p> <!-- price -->
		  </a>
	  </div>

	  <div class="col-md-3">
	  	<a href="#">
		  	<img src="https://images-na.ssl-images-amazon.com/images/I/71bF6N8xNrL._SY679SX449_SY679_CR,0,0,449,679_PIbundle-12,TopRight,0,0_SX449_SY679_CR,0,0,449,679_SH20_.jpg" alt="product" class="img-rounded product-thumbnail" style="height:250px">
		  	<p> lemonadelover</p>
		  	<p> Strawverry Lemonade </p> 
		  	<p> $32</p>
		  </a>
	  </div>
	  
	  <div class="col-md-3">
	  	<a href="#">
		  	<img src="https://globalassets.starbucks.com/assets/a2b8437c14174fa38a45280d52e92b22.jpg" alt="product" class="img-rounded product-thumbnail" style="height:250px">
		  	<p> special123</p>
		  	<p> Green Tea Lemonade </p> 
		  	<p> $12</p>
		  </a>
	  </div>
	</div>  <!-- end row -->
</div> <!-- end container -->