

.cycle-slide {
	height: 1024px;
    width: 695px;
    text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#footer #menu-footer-menu {
    text-align: center;
    display: block;
    height: 34px;
}

#footer #menu-footer-menu li {
    background: url(i/footer-lines.png) left top no-repeat;
    display: inline-block;
    min-width: 100px;
    padding: 0 15px 0 20px;
    text-transform: uppercase;
    float: left;
    margin-top: 4px;
    line-height: 14px;
}

.social-icons {
	text-align: auto;
}

#thumbnail-images {
    display: block;
    max-width: 300px;
    height: 300px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 100;
    bottom: 0;
    left: 0;
    width: 300;
    height: 300;
    border: 0;
}

#iframe .thumbnail {
  text-align: center;
}

.thumbnail {
  text-align: center;
}