<form action="order/{{this.id}}?_method=PUT" method="POST">
	<input type="hidden" name="sold" value="1">
	<button type="submit" class="change-sold btn btn-primary" role="button" data-id="{{id}}" data-sold="{{sold}}">
		{{#if sold}} Buy {{/if}}
	</button>
	<a href="#" class="btn btn-default" role="button" data-id="{{id}}">View Details</a></p>
<<<<<<< HEAD
</form>


=======
</form>
>>>>>>> 6ae5643ec10021f6011ecb40476b72c0c323a983
